.list-line-header {
  font-size: 17px;
  font-weight: 600;
  color: black;
}

.list-line-secondary {
  font-size: 13px;
  font-weight: 500;
  color:#808080;
}

.list-wrapper {
  border: 1px solid #afafaf;
  border-radius: 10px;
  padding: 30px;
  margin-top: 15px;
}

.list-title {
  margin-bottom: 20px;
  display:block;
  color: #afafaf;
}
