<div fxLayoutAlign="center top">
  <mat-card class="card md-elevation-20">
    <mat-card-header>
      <mat-card-title>{{'Title.RequestResetPassword' | translate}}</mat-card-title>
    </mat-card-header>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
      <mat-card-content>
        <mat-form-field class="full-width-input">
          <input matInput formControlName="email" placeholder="{{'Placeholder.Email' | translate}}" required>
          <mat-error *ngIf="form.email.invalid">{{getErrorMessage(form.email)}}</mat-error>
        </mat-form-field>
      </mat-card-content>

      <button mat-raised-button class="full-width-button" color="primary" type="submit">{{'Button.ResetPassword' | translate}}</button>
    </form>
  </mat-card>
</div>
