.alert-sticky {
  position:sticky;
  top: 20px;
  z-index: 2000;
}

.alert-container {
  margin: 5px 0px;
  padding: 5px 0px;
  min-width: 300px;
  background-color: brown;
}

.alert-message {
  margin: 10px;
}

.alert-close {
  display:block;
}
