.card {
  margin-top: 30px;
  padding: 60px 50px 40px 50px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
}

.card .full-width-input {
  width: 100%;
}

.card .full-width-button {
  margin: 10px 10px 0px 0px;
  width: 100%;
}

.card mat-card-header {
  text-align: center;
  display: block;
}

.card mat-card-header mat-card-title {
  font-size: 30px;
}

.additional-buttons {
  margin-top: 35px;
}

.remember-me {
  margin-top: 10px;
  font-weight: 200;
}
