* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error-alert {
  background-color: red;
  color: white;
}

.error-alert button {
  background-color: orangered;
  color: white;
}
