<div fxLayoutAlign="center top">
  <mat-card class="card md-elevation-20">
    <mat-card-header>
      <mat-card-title>{{'Title.SignIn' | translate}}</mat-card-title>
    </mat-card-header>

    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <mat-card-content>
        <mat-form-field class="full-width-input">
          <input matInput formControlName="username" placeholder="{{'Placeholder.Username' | translate}}" required>
          <mat-error *ngIf="form.username.invalid">{{getErrorMessage(form.username)}}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput type="password" formControlName="password" placeholder="{{'Placeholder.Password' | translate}}" required>
          <mat-error *ngIf="form.password.invalid">{{getErrorMessage(form.password)}}</mat-error>
        </mat-form-field>

        <div class="remember-me">
          <mat-checkbox formControlName="rememberMe" >{{'Label.RememberMe' | translate}}</mat-checkbox>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button class="full-width-button" color="primary" type="submit">{{'Button.SignIn' | translate}}</button>
        <div class="additional-buttons">
          <a mat-raised-button class="full-width-button" color="accent" routerLink="/sign-up">{{'Button.SignUp' | translate}}</a>
          <a mat-stroked-button class="full-width-button" routerLink="/reset-password">{{'Button.ResetPassword' | translate}}</a>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
